/* Sujal patel 8909298*/
body{
    font :normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: hsla(154, 19%, 67%, 0.35);
}
h1{
    color: brown;
    font-size: 30px;
}
h2{
    color: #fc9;
    font-size: 2em;
}
header{
    background-color: hsl(98, 92%, 51%);
}
nav ul li {
    display: inline;
    list-style: none;
}
nav ul li a {
    color: rgb(25, 4, 96);
    border: 2px solid;
    background-color: cornsilk;
    text-decoration: none;
    padding: 5px;
}
nav ul li a:hover{
    color: cornsilk;
    background-color: indigo;
    border-color: rgb(255, 220, 220);
}
main{
    float: left;
    width: 65vw;
    height: 80vh;
    background-color: hsl(201, 56%, 68%);
}
aside{
    float: right;
    width: 25vw;
    height: 40vh;
    background-color: hsl(192, 93%, 49%);
}
aside li{
    list-style: square;
    line-height: 2em;
}
aside a{
    color: rgba(222, 8, 16, 0.7);
}
footer{
    clear: both;
    background-color: hsl(276, 27%, 71%);
}
.structural{
    margin: 10px;
    padding: 10px;
    border : 2px solid black;
}
#para1{
    color: rgb(170, 105, 105);
}
#para2{
    color: rgb(58, 32, 32)
}
a:hover{
    color: #f02;
}
select, option, label, legend, input[type=subm]{
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
}
textarea{
    display: block;
    width: 50%;
}
fieldset{
    border: none;
}
footer p{
    font-size: 0.75em;
}
form{
    border: 5px dashed darkblue;
    padding: 5px;
}
input[type=text], input[type=email], input[type=submit], select[type=select]{
    display: block;
    width: 50%;
    height: 2em;
}
input[type=radio], input[type=checkbox]{
    height: 2em;
    width: 2em;
}